.recipe-container {
    /* display: block; */
    padding: 40px;
}

.recipe-info-container {
    display: flex;
    align-items: center;
}

.recipe-text-container {
    flex: 1;
    padding: 10px;
}

.rec-img {
    display: block;
}