html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: brown;
    margin: 10px 0 10px 20px;
}

.links {
    color: brown;
}

a {
    text-decoration: none;
    color: brown;
}

em {
    color: brown;
}

.link-container {
    background-color: blanchedalmond;
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.recipe-container {
    /* display: block; */
    padding: 40px;
}