html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: brown;
    margin: 0;
    /* background-color: blanchedalmond; */
    padding: 10px;
}

.category-header {
    color: brown;
    margin: 0;
    padding: 10px;
}

.links {
    color: brown;
}

a {
    text-decoration: none;
    color: brown;
}

em {
    color: brown;
}

.link-container {
    background-color: blanchedalmond;
    width: 400px;
    height: auto;
    /* margin: 0 auto; */
    padding: 10px;
}